<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="test2.category1"
            name="EasyBapi">
      </category>
      <view
            category="test2.category1"
            class="bapi.View"
            id="test2.view1"
            name="EasyBapi"
            restorable="true">
      </view>
   </extension>

</plugin>
